<div id="<%= dom_id aircraft %>">
  <p>
    <strong>Registration:</strong>
    <%= aircraft.registration %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= aircraft.model %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= aircraft.category %>
  </p>

  <p>
    <strong>Complex:</strong>
    <%= aircraft.complex %>
  </p>

  <p>
    <strong>Taa:</strong>
    <%= aircraft.taa %>
  </p>

  <p>
    <strong>High performance:</strong>
    <%= aircraft.high_performance %>
  </p>

  <p>
    <strong>Pressurized:</strong>
    <%= aircraft.pressurized %>
  </p>

</div>
